body {
  background: fixed;
  background-color: #bb8fce;
  overflow-y: hidden;
  overflow-x: hidden;
}

#FirstPersonName {
  position: relative;
  left: 500px;
  top: 220px;
  /* border: 3px solid #555; */
  margin: 10px;
  width: 200px;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 17px;
  /* overflow: visible; */
}

#SecondPersonName {
  position: relative;
  left: 600px;
  top: 200px;
  margin: 10px;
  width: 200px;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 17px;
}

#GeneratePercentage {
  position: relative;
  left: 650px;
  top: 300px;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#GeneratePercentage:hover {
  background-color: #3e8e41;
}

#GeneratePercentage:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translate(4px);
}

/* #clearField {
  position: relative;
  left: 600px;
  top: 300px;
} */

#icon1 {
  position: relative;
  left: 600px;
  top: 230px;
  margin: 10px;
  width: 200px;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 17px;
}

#icon2 {
  position: relative;
  left: 300px;
  top: 100px;
  margin: 10px;
  width: 200px;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 17px;
}

#icon3 {
  position: relative;
  left: 450px;
  top: 250px;
}

#result {
  position: relative;
  left: 550px;
  top: 180px;
}
